.gradient {
    background: linear-gradient(90deg, #262626 0%, #2386F4 100%);
  }

  button,a {
    text-decoration: none;
  }
  


  .send {
    animation: send 2s cubic-bezier(1, -0.47, 0.01, 1.37) infinite both;
  }
  @keyframes send {
    0% {
      transform: translateY(0) translateX(0);
    }
    100% {
      transform: translateY(-20px) translateX(20px);
    }
  }
  

  @media screen and (max-width: 768px)  {
    .hero {
      display: none;
    }

    #home {
      height: 100vh;
    }
  }

  